<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DJ Log</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="p-5 mb-5 text-center</> bg-light">
    <h1 class="mb-3">DJ Log</h1>
    <h4 class="mb-3">기억보단 기록하자</h4>
</div>

<div class="container">

    <button type="button" class="btn btn-secondary" onclick="location.href='/logout'">로그아웃</button>

    <div class="row-6" th:each="item : ${articles}">
        <div class="card">
            <div class="card-header">
                <a th:href="@{/articles/{id}(id=${item.id})}">
                    <h5 class="card-title" th:text="${item.title}"></h5>
                </a>
            </div>
            <div class="card-body">
                <p class="card-text" th:text="${item.content}"></p>
            </div>
        </div>
        <br>
    </div>

    <button type="button" id="create-btn"
            th:onclick="|location.href='@{/new-article}'|"
            class="btn btn-primary">글쓰기</button>

</div>

<script src="/js/token.js"></script>
<script src="/js/article.js"></script>
</body>